@use "../abstracts/variables" as *;

footer {
  display: flex;
  padding: 3.2rem 0;
  justify-content: space-between;
}


.copyright-text {
  font-size: $font-size-small;
  color: $text-color-dark;
  margin-bottom: 1rem;
}
.contact-email {
  font-size: $font-size-small;
  color: $text-color-dark;
  text-decoration: underline;
}
