@use "../abstracts/variables" as *;

footer {
  display: flex;
  margin-bottom: 6.8rem;
  justify-content: space-between;
}

.public-links {
  display: flex;
  gap: 2rem;
  align-self: center;
}

img {
  transition: transform 0.2s;
  height: 2.4rem;

  &:hover {
    transform: scale(1.1);
  }
}

.copyright-text {
  font-size: $font-size-small;
  color: $text-color-dark;
  margin-bottom: 1rem;
}
.contact-email {
  font-size: $font-size-small;
  color: $text-color-dark;
  text-decoration: underline;
}
