@use "../abstracts/variables" as *;

footer {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 2rem;
  justify-content: center;
  align-items: center;
}

.copyright-text {
  font-size: $font-size-small;
  color: $text-color-dark;
  padding: 0.8rem 0rem;;
}
