@use "../abstracts/variables" as *;

.header-main-content {
    display: flex;
    gap: 6rem;
}

.header-introduction {
    flex: 2;
}

.header-summary {
    flex: 3;

    p {
        margin-bottom: 2rem;;
    }
}

.name {
    font-size: $h2-font-size;
    letter-spacing: 0px;
    line-height: 0.9;
}

.subtitle {
    font-size: $h3-font-size;
    margin-bottom: 1.6rem;
    line-height: normal;
    font-weight: 500;
}
