@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.header-main-content {
    display: flex;
    gap: $section-element-gaps;

    @include respond-to("tablet-land") {
        gap: 6.4rem;
    }
}

.header-introduction {
    flex: 2;
}

.header-summary {
    flex: 3;

    p {
        margin-bottom: $element-gap;
        line-height: 1.8;
    }

    strong {
        color: $text-color-highlight;
    }
}

.name {
    font-size: $h1-font-size;
    letter-spacing: 0.1rem;
    line-height: 1.1;
    color: $text-color-highlight;
    font-weight: 700;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: $h3-font-size;
    margin-bottom: $element-gap;
    line-height: normal;
    font-weight: 600;
    color: $text-color-highlight;
}
