@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.floating-navigation {
  position: sticky;
  top: 0;
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
  font-size: $font-size-large;

  .public-links {
    list-style: none;
    display: flex;
  }

  @include respond-to("mobile") {
    .public-links {
      display: none;
    }
    justify-content: center;
    gap: $element-gap;
  }
}

.anchor-links {
  gap: $component-gaps-medium;
  display: flex;
  align-items: center;
}

.nav-element {
  line-height: 1;
  border-radius: $border-radius;
  transition: transform 0.2s;
  a {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $font-size-small;
    letter-spacing: 0.2rem;

    &:hover {
      font-weight: 800;
    }
  }
  &:hover {
    transform: scale(1.2);
  }
}

.social-icon {
  height: 24px;
  @include respond-to("tablet-land") {
    height: 2rem;
  }
}

.public-links {
  display: flex;
  gap: $element-gap;
  align-self: center;
  justify-items: center;

  .link-item {
    transition: transform 0.2s;
    height: 24px;

    @include respond-to("tablet-land") {
      height: 2rem;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
  .item-background {
    display: flex;
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.3rem;
    align-items: center;
    a {
      color: $main-color-dark;
      font-weight: 600;
    }
  }
}
