@use "../abstracts/variables" as *;

.floating-navigation {
    position: sticky;
    top: 0;
    width: 100%;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
  font-size: $font-size-large;

  ul {
    list-style: none;
    display: flex;
  }
}

.anchor-links {
  gap: 3.2rem;
  display: flex;
  align-items: center;
}

.nav-element {
  line-height: 1;
  border-radius: 0.8rem;
  a {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $font-size-small;
    letter-spacing: 0.2rem;

    &:hover {
      font-weight: 800;
    }
  }
}

.public-links {
  display: flex;
  gap: 2rem;
  align-self: center;
  
  img {
    transition: transform 0.2s;
    height: 2.4rem;
  
    &:hover {
      transform: scale(1.2);
    }
  }
}

