@use "../abstracts/variables" as *;

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3.2rem 0;
  align-items: center;
  font-size: $font-size-large;

  ul {
    list-style: none;
    display: flex;
  }
}

.nav-element {
  padding: 1rem 2rem;
  line-height: 1;
  border-radius: 0.8rem;
  a {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $font-size-small;
    letter-spacing: 0.2rem;

    &:hover {
      font-weight: 800;
    }
  }
}
