@use "../abstracts/variables" as *;

.position-items {
  display: flex;
  flex-direction: column;
  gap: $component-gaps;
  flex: 2;
  &:hover {
    a {
      color: $text-color-disabled;
    }

    .skills {
      background-color: $text-color-disabled;
    }
  }
}
