@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.project-card {
  border-radius: $border-radius;
  padding: 3.2rem;
  margin: -3.2rem;
  display: flex;
  gap: $component-gaps-small;

  &:hover {
    background-color: $main-color-hover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    .skills {
      background-color: $accent-color;
      color: $main-color-dark;
    }
  }

  @include respond-to("tablet-port") {
    flex-direction: column;
    padding: 2.4rem;
    margin: -2.4rem;

    @media (min-resolution: 2dppx) and (min-width: 600px) {
      .project-image {
        background-image: linear-gradient(
            to right,
            transparent,
            rgba($main-color, 0.8)
          ),
          url("../../img/personal_planner_1400.png");
      }
    }
  }
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: $component-gaps-small;
  flex: 3;
}

.project-date {
  font-style: italic;
  font-weight: 600;
  color: $text-color-disabled;
  align-self: center;
  justify-self: center;
  font-size: $font-size-small;
}

.project-image {
  flex: 0 1 30%;
  min-width: 150px;
  min-height: 150px;
  background-image: linear-gradient(
      to right,
      transparent,
      rgba($main-color, 0.8)
    ),
    url("../../img/personal_planner_600w.png");
  background-size: cover;
  background-position: top left;
  border-radius: $border-radius;
}

.project-status {
  position: relative;
  display: inline-block;

  &::after {
    content: "In Progress";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30%, -50%);
    font-size: $font-size-xs;
    font-weight: 600;
    color: $main-color-dark;
    background-color: $accent-color-dark;
    padding: 0.4rem 0.8rem;
    border-radius: $border-radius;
    border-bottom-right-radius: 0;
  }
}

.project-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.project-title {
  font-size: $h4-font-size;
  font-weight: 600;
  color: $text-color-highlight;
}
