@use "../abstracts/variables" as *;

.main-section-title {
    font-size: $h2-font-size;
    margin-bottom: 4.8rem;
    font-weight: 600;
}

.secondary-section-title {
    font-size: $h3-font-size;
    margin-bottom: 1.6rem;
    font-weight: 600;
}
