@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.skill-groups {
  display: flex;
  flex-direction: column;
  gap: $component-gaps-medium;

  @include respond-to("tablet-port") {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    row-gap: 3.2rem;
    .backend-group-card {
      grid-column: 2;
    }
  }

  @include respond-to("mobile") {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .backend-group-card {
      grid-column: unset;
    }
  }
}



.proficient-skills {
  font-size: $font-size;
  font-weight: 500;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.skill-card {
  border-radius: $border-radius;
  padding: 3.2rem;
  margin: -3.2rem;

  &:hover {
    .skills {
      background-color: $accent-color;
      color: $main-color-dark;
    }
  }

  h3 {
    font-size: $h4-font-size;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }
}

.skills {
  padding: 0.4rem 0.8rem;
  border-radius: 1.6rem;
  background-color: $text-color-disabled;
  color: $main-color-dark;
  font-size: $font-size-xs;
  line-height: 1.2;
}
