@use "../abstracts/variables" as *;

.proficient-skills {
  font-size: $font-size;
  font-weight: 500;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}


.skill-card {
    border-radius: 0.8rem;

    h3 {
        font-size: $h4-font-size;
        font-weight: 500;
        margin-bottom: 0.8rem;
    }
}

.skills {
  padding: 0.4rem 0.8rem;
  border-radius: 1.6rem;
  background-color: $accent-color;
  color: $main-color-dark;
  font-size: $font-size-xs;
  line-height: 1.2;
  
}
